body
{
    background-color: rgb(177, 177, 177);
}
.nadpis
{
    margin-top: 10rem;
}
p
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
span
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}
.font 
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    text-align: justify;
    
}
.nadpis_2
{
    margin-top: 6rem;
}



.alba
{
    flex-wrap: wrap;
}
.img
{
    width: 13rem;
}
.gray
{
    background-color: rgb(85, 85, 85);
}